TutorBot.json
{
  "name": "TutorBot",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8692513632:AAFTnD0ocf0h9y0d-dZpvvgS991b9ICT2q4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Code in JavaScript5').item.json.chatId }}\",\n  \"text\": \"🎉 ¡Felicidades, te acabas de registrar!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        3088
      ],
      "id": "7052afb8-6726-4c7c-a570-d89a0a8125aa",
      "name": "Confirmacion registro"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ruta.valor }}",
                    "rightValue": "solicitar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca84a18d-4fc5-4bd5-8a07-603528b09366"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d58d047-67ed-4e13-9993-af7267721f28",
                    "leftValue": "={{ $json.ruta.valor }}",
                    "rightValue": "consultar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5fb68cf5-8786-4565-823b-6e259d66f96c",
                    "leftValue": "={{ $json.ruta.sub_tipo }}",
                    "rightValue": "materia",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a2f6d3c-1b4e-4a5f-8c9d-7e6f5a4b3c2d",
                    "leftValue": "={{ $json.ruta.valor }}",
                    "rightValue": "principal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -576,
        4224
      ],
      "id": "9b9c10b2-c572-4719-8470-e2a04e6bd832",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "let ruta = \"\";\nconst input = $input.first().json;\n\nif(input.callback_query){\n    const callbackData = input.callback_query.data;\n    // Hacemos el split. Ejemplo: \"materia_java\" -> [\"materia\", \"java\"]\n    const partes = callbackData.split('_');\n    \n    ruta = {\n        tipo: 'callback',\n        chatid: input.callback_query.message.chat.id,\n        raw_data: callbackData,\n        // Si el formato siempre es prefijo_valor, tomamos el primer elemento como sub-tipo\n        sub_tipo: partes[0] || 'unknown', \n        valor: partes[1] || ''\n    };\n\n} else if (input.message){\n    ruta = {\n        tipo: 'message',\n        chatid: input.message.chat.id,\n        data: input.message.text\n    };\n}\n\nreturn {\n    ruta\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        3952
      ],
      "id": "13b32f15-7391-49bc-b997-11eb3a6f3f06",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "52036554-4a17-4237-9c81-891ca829c1db",
              "leftValue": "={{ $json.ruta.tipo }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -816,
        3952
      ],
      "id": "0598d169-5009-4a6e-bd2d-e99301e1f65e",
      "name": "If1"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1184,
        3952
      ],
      "id": "f951ad8b-6786-4579-9fb6-0b7e81a48376",
      "name": "Trigger1",
      "webhookId": "c6c2229e-8675-4714-8dfe-8d6df0d0e536",
      "credentials": {
        "telegramApi": {
          "id": "wfMZowyigyjsLnnn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8692513632:AAFTnD0ocf0h9y0d-dZpvvgS991b9ICT2q4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Code in JavaScript1').first().json.ruta.chatid }}\",\n  \"text\": \"¿Cómo podemos ayudarte hoy?\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        {\n          \"text\": \"📚 Solicitar tutoría\",\n          \"callback_data\": \"menu_solicitar\"\n        }\n      ],\n      [\n        {\n          \"text\": \" Registrarse\",\n          \"callback_data\": \"menu_consultar\"\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        3376
      ],
      "id": "06c6428e-2cdb-4165-beee-d2693948ee55",
      "name": "menu principal1"
    },
    {
      "parameters": {
        "jsCode": "const todasLasMaterias = $input.all();\nconst valorSeleccionado = $('Code in JavaScript1').first().json.ruta.valor;\n\n// 1. Filtramos para encontrar la materia exacta\nconst materia = todasLasMaterias.find(item => \n  item.json.Materia.toLowerCase() === valorSeleccionado.toLowerCase()\n);\n\n// 2. Construimos el mensaje usando backticks (`)\nif (materia) {\n  const mensaje = `🎓 *Detalle de la Tutoría*\n\n*Materia:* ${materia.json.Materia}\n*Día:* ${materia.json.dia_semana}\n*Horario:* ${materia.json.hora_inicio} - ${materia.json.hora_fin}\n*Precio:* ${materia.json.precio}\n*Estado:* ${materia.json.estado}\n\n¡Espero que esta información te sea de gran ayuda!`;\n\n  return [{\n    json: {\n      chat_id: $('Code in JavaScript1').first().json.ruta.chatid,\n      text: mensaje,\n      parse_mode: \"Markdown\"\n    }\n  }];\n} else {\n  return [{\n    json: {\n      chat_id: $('Code in JavaScript1').first().json.ruta.chatid,\n      text: \"❌ Lo siento, no encontré información para la materia: \" + valorSeleccionado\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        4672
      ],
      "id": "61c8a6bb-3519-4963-accd-a9905eb8ad33",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8692513632:AAFTnD0ocf0h9y0d-dZpvvgS991b9ICT2q4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        3792
      ],
      "id": "5e6581c7-cf68-4978-9b26-af46e0268600",
      "name": "Menu materia1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M",
          "mode": "list",
          "cachedResultName": "TutorBot_DBJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334023051,
          "mode": "list",
          "cachedResultName": "DISPONIBILIDAD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit#gid=1334023051"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        4672
      ],
      "id": "7a9d8324-ea2c-46e3-a659-c86e5e9544ea",
      "name": "Disponibilidad1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v5FB43KabYKn6vJj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M",
          "mode": "list",
          "cachedResultName": "TutorBot_DBJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 581661782,
          "mode": "list",
          "cachedResultName": "MATERIAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit#gid=581661782"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        3792
      ],
      "id": "7c86e05f-e410-4de1-adf2-d9bffb16269c",
      "name": "Materia1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v5FB43KabYKn6vJj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        3088
      ],
      "id": "16d8b990-7979-4756-8772-2ed21f884867",
      "name": "Webhook1",
      "webhookId": "296f80cf-dedb-4c39-9fb5-6edd5d68c172"
    },
    {
      "parameters": {
        "jsCode": "\nfor (const item of items) {\n  const data = item.json.body;\n\n\n  item.json = {\n    nombres: data.nombres,\n    email: data.email,\n    materia: data.materia,\n    chatId: data.chatid, \n  };\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        3088
      ],
      "id": "1287a371-10ca-4c53-9caa-75589beb43dc",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M",
          "mode": "list",
          "cachedResultName": "TutorBot_DBJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 799354737,
          "mode": "list",
          "cachedResultName": "ESTUDIANTES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit#gid=799354737"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombres }}",
            "email": "={{ $json.email }}",
            "materia": "={{ $json.materia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_estudiante",
              "displayName": "id_estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_profesor",
              "displayName": "id_profesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombreTutor",
              "displayName": "nombreTutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_tutoria",
              "displayName": "id_tutoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duracion",
              "displayName": "duracion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "proceso",
              "displayName": "proceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        3088
      ],
      "id": "1704fdea-7fd9-4e2e-ac27-351e6f5552f3",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v5FB43KabYKn6vJj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8692513632:AAFTnD0ocf0h9y0d-dZpvvgS991b9ICT2q4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Code in JavaScript1').item.json.ruta.chatid }}\",\n  \"text\": \"Deseas registrarte, llena el siguiente formulario: https://jose-langl.github.io/formulario_n8n/?chatId={{ $('Code in JavaScript1').item.json.ruta.chatid }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        4128
      ],
      "id": "a059954d-7fd8-4621-ba56-65772d392531",
      "name": "formulario registro1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8692513632:AAFTnD0ocf0h9y0d-dZpvvgS991b9ICT2q4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        4672
      ],
      "id": "de1cbfc0-608f-45d5-adf9-38b4f49b57ba",
      "name": "Mensaje Materia1"
    },
    {
      "parameters": {
        "jsCode": "const filas = $input.all();\n\n// Generamos los botones de materias\nconst botones = filas.map(item => {\n  return [{\n    text: item.json.Materia,\n    callback_data: `materia_${item.json.Materia}`\n  }];\n});\n\n// AGREGAMOS el botón de regreso al final de la lista\nbotones.push([{\n  text: \"⬅️ Regresar al menú principal\",\n  callback_data: \"menu_principal\"\n}]);\n\nreturn [{\n  json: {\n    chat_id: $('Code in JavaScript1').first().json.ruta.chatid,\n    text: \"Selecciona una materia para continuar:\",\n    reply_markup: {\n      inline_keyboard: botones\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        3792
      ],
      "id": "2d649cfb-fca9-467b-8e59-23e0fdf081cf",
      "name": "mapeo materias1"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "Materia1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formulario registro1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidad1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "menu principal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "menu principal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Mensaje Materia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidad1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Materia1": {
      "main": [
        [
          {
            "node": "mapeo materias1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Confirmacion registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapeo materias1": {
      "main": [
        [
          {
            "node": "Menu materia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "40e048ac-13cb-4777-bc24-3fe2cc456011",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e90e2b586bb3c97da78c80ef76732c4694aa4cc4a4ef1813cafd6ef1c6374a45"
  },
  "nodeGroups": [],
  "id": "tSTVhEVxwfsySoRC",
  "tags": []
}