TutorBot.json
{
  "name": "tutorbotV2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const filas = $input.all();\n\n// Generamos los botones de materias\nconst botones = filas.map(item => {\n  return [{\n    text: item.json.Materia,\n    callback_data: `materia_${item.json.Materia}`\n  }];\n});\n\n// AGREGAMOS el botón de regreso al final de la lista\nbotones.push([{\n  text: \"⬅️ Regresar al menú principal\",\n  callback_data: \"menu_principal\"\n}]);\n\nreturn [{\n  json: {\n    chat_id: $('Code in JavaScript').first().json.ruta.chatid,\n    text: \"Selecciona una materia para continuar:\",\n    reply_markup: {\n      inline_keyboard: botones\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        2064
      ],
      "id": "4ac54690-fc48-4399-aef7-9a85ba735172",
      "name": "mapeo materias"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M",
          "mode": "list",
          "cachedResultName": "TutorBot_DBJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 799354737,
          "mode": "list",
          "cachedResultName": "ESTUDIANTES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit#gid=799354737"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombres }}",
            "email": "={{ $json.email }}",
            "materia": "={{ $json.materia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_estudiante",
              "displayName": "id_estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_profesor",
              "displayName": "id_profesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombreTutor",
              "displayName": "nombreTutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_tutoria",
              "displayName": "id_tutoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duracion",
              "displayName": "duracion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "proceso",
              "displayName": "proceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        1360
      ],
      "id": "474acfad-c4a5-4309-b240-89a11f86222f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kPMiPAaCJhVnXwuI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nfor (const item of items) {\n  const data = item.json.body;\n\n\n  item.json = {\n    nombres: data.nombres,\n    email: data.email,\n    materia: data.materia,\n    chatId: data.chatid, \n  };\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1360
      ],
      "id": "5ee3eb27-eef2-4cb7-9dc0-533327cddbd1",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Trigger').item.json.callback_query.from.id }}",
        "text": "El usuario ah si cancelado correctamente",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        3136
      ],
      "id": "5a5f09d2-91ee-48d0-9efd-47bf6d430f2b",
      "name": "Send a text message",
      "webhookId": "ef7bed84-a11b-479c-8c3a-2fb28c906469",
      "credentials": {
        "telegramApi": {
          "id": "z4OcYpVLiNwjaoEu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        2096,
        3696
      ],
      "id": "7c7c041e-1c4e-41dc-8c41-485834d03a01",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SE1Egn4zBmWYqspa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.result.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        2208,
        3808
      ],
      "id": "d08cf07a-7241-406a-b76a-2dd934ea0c78",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Rol: Actúa como un Administrador de Base de Datos experto para una academia. Tu función principal es gestionar la eliminación de registros de estudiantes en un Google Sheets a través de una API o herramienta de integración.\n\nTu objetivo: Cuando te proporcione un ID de estudiante, deberás buscar dicho ID en la hoja de cálculo específica y proceder con su eliminación de forma segura.\n\nProtocolo de ejecución (Sigue estos pasos estrictamente):\n\nBúsqueda: Localiza el ID proporcionado en la columna correspondiente de la hoja de cálculo.\n\nVerificación: Antes de eliminar, muestra la información básica del estudiante encontrado (Nombre, curso, fecha de ingreso) y pide una confirmación explícita. \"He encontrado al estudiante [Nombre]. ¿Confirma que desea eliminar este registro permanentemente?\"\n\nEjecución: Una vez recibida la confirmación, procede a borrar la fila.\n\nConfirmación: Informa brevemente el resultado: \"El registro con ID [ID] ha sido eliminado con éxito\" o \"No se encontró el ID proporcionado\".\n\nRestricciones de seguridad:\n\nNunca elimines nada sin que yo haya confirmado explícitamente tras la verificación del paso 2.\n\nSi el ID no existe, notifícame inmediatamente sin realizar ninguna acción.\n\nMantén un registro del proceso.\n\nFormato de entrada: [ID del Estudiante]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2912,
        3136
      ],
      "id": "01ae010a-0f4c-4787-b732-33dccc57f07a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1520,
        1360
      ],
      "id": "3e375e71-dc46-4ca7-8846-fad56b0dc72e",
      "name": "Webhook",
      "webhookId": "296f80cf-dedb-4c39-9fb5-6edd5d68c172"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M",
          "mode": "list",
          "cachedResultName": "TutorBot_DBJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 581661782,
          "mode": "list",
          "cachedResultName": "MATERIAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit#gid=581661782"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2256,
        2064
      ],
      "id": "79cdcc89-90af-46fe-ac87-5f93cb0da663",
      "name": "Materia",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kPMiPAaCJhVnXwuI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8692513632:AAFTnD0ocf0h9y0d-dZpvvgS991b9ICT2q4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        2064
      ],
      "id": "9148aec1-b68c-416b-bb33-eda359d80b25",
      "name": "Menu materia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8692513632:AAFTnD0ocf0h9y0d-dZpvvgS991b9ICT2q4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Code in JavaScript').item.json.ruta.chatid }}\",\n  \"text\": \"¿Cómo podemos ayudarte hoy?\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        {\n          \"text\": \"📚 Solicitar tutoría\",\n          \"callback_data\": \"menu_solicitar\"\n        }\n      ],\n      [\n        {\n          \"text\": \" Registrarse\",\n          \"callback_data\": \"registrar\"\n        }\n      ],\n      [\n        {\n          \"text\": \"Cancelar Tutoria\",\n          \"callback_data\": \"cancelar\"\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        1712
      ],
      "id": "f1b127db-5612-44ce-9c02-399b176b7f7e",
      "name": "menu principal"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        1424,
        2224
      ],
      "id": "d538f636-5606-4dac-b2a2-2ccfeadf26f7",
      "name": "Trigger",
      "webhookId": "c6c2229e-8675-4714-8dfe-8d6df0d0e536",
      "credentials": {
        "telegramApi": {
          "id": "z4OcYpVLiNwjaoEu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "52036554-4a17-4237-9c81-891ca829c1db",
              "leftValue": "={{ $json.ruta.tipo }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        2224
      ],
      "id": "b0e2d268-9698-4fbf-9fce-bab962c12efb",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8692513632:AAFTnD0ocf0h9y0d-dZpvvgS991b9ICT2q4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2800,
        2768
      ],
      "id": "34919ce9-b6ce-4de1-a4c9-9dcd9fe82af6",
      "name": "Mensaje Materia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8692513632:AAFTnD0ocf0h9y0d-dZpvvgS991b9ICT2q4/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Code in JavaScript').item.json.ruta.chatid }}\",\n  \"text\": \"Deseas registrarte, llena el siguiente formulario: https://jose-langl.github.io/formulario-n8n/?chatId={{ $('Code in JavaScript').item.json.ruta.chatid }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2272,
        2400
      ],
      "id": "0f88743d-6b25-43ea-9a06-4d388a9ca648",
      "name": "formulario registro"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M",
          "mode": "list",
          "cachedResultName": "TutorBot_DBJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334023051,
          "mode": "list",
          "cachedResultName": "DISPONIBILIDAD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit#gid=1334023051"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        2768
      ],
      "id": "b379a1a4-9d3f-4915-a57d-e4172f6bc3dd",
      "name": "Disponibilidad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kPMiPAaCJhVnXwuI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const todasLasMaterias = $input.all();\nconst valorSeleccionado = $('Code in JavaScript').first().json.ruta.valor;\n\n// 1. Filtramos para encontrar la materia exacta\nconst materia = todasLasMaterias.find(item => \n  item.json.Materia.toLowerCase() === valorSeleccionado.toLowerCase()\n);\n\n// 2. Construimos el mensaje usando backticks (`)\nif (materia) {\n  const mensaje = `🎓 *Detalle de la Tutoría*\n\n*Materia:* ${materia.json.Materia}\n*Día:* ${materia.json.dia_semana}\n*Horario:* ${materia.json.hora_inicio} - ${materia.json.hora_fin}\n*Precio:* ${materia.json.precio}\n*Estado:* ${materia.json.estado}\n\n¡Espero que esta información te sea de gran ayuda!`;\n\n  return [{\n    json: {\n      chat_id: $('Code in JavaScript').first().json.ruta.chatid,\n      text: mensaje,\n      parse_mode: \"Markdown\"\n    }\n  }];\n} else {\n  return [{\n    json: {\n      chat_id: $('Code in JavaScript').first().json.ruta.chatid,\n      text: \"❌ Lo siento, no encontré información para la materia: \" + valorSeleccionado\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        2768
      ],
      "id": "2768be73-8a73-45eb-a198-5b3ea7260dba",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "let ruta = \"\";\nconst input = $input.first().json;\n\nif(input.callback_query){\n    const callbackData = input.callback_query.data;\n    // Hacemos el split. Ejemplo: \"materia_java\" -> [\"materia\", \"java\"]\n    const partes = callbackData.split('_');\n    \n    ruta = {\n        tipo: 'callback',\n        chatid: input.callback_query.message.chat.id,\n        raw_data: callbackData,\n        // Si el formato siempre es prefijo_valor, tomamos el primer elemento como sub-tipo\n        sub_tipo: partes[0] || 'unknown', \n        valor: partes[1] || ''\n    };\n\n} else if (input.message){\n    ruta = {\n        tipo: 'message',\n        chatid: input.message.chat.id,\n        data: input.message.text\n    };\n}\n\nreturn {\n    ruta\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        2224
      ],
      "id": "2fdf589f-869e-4510-83f5-9ff9ce880f86",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ruta.sub_tipo }}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca84a18d-4fc5-4bd5-8a07-603528b09366"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d58d047-67ed-4e13-9993-af7267721f28",
                    "leftValue": "={{ $json.ruta.sub_tipo }}",
                    "rightValue": "registrar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5fb68cf5-8786-4565-823b-6e259d66f96c",
                    "leftValue": "={{ $json.ruta.sub_tipo }}",
                    "rightValue": "materia",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "01344271-acee-4ec8-84a5-3fb359843184",
                    "leftValue": "={{ $json.ruta.sub_tipo }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2032,
        2496
      ],
      "id": "10e67984-9b3e-458f-b511-a3ccca524902",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.ruta.chatid }}",
        "text": "He recibido tu solicitud. Estoy buscando el ID en el sistema...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        3456
      ],
      "id": "a282182e-0f8c-402e-ab3e-4b6491fdf3ee",
      "name": "Confirmación Recepción ID",
      "webhookId": "1c6d8775-77d1-4607-ad4d-82bdc65d9ca9",
      "credentials": {
        "telegramApi": {
          "id": "z4OcYpVLiNwjaoEu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Busca el ID proporcionado en la hoja de estudiantes. Si existe, elimina la fila. Responde confirmando la eliminación o diciendo que no se encontró.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2128,
        3456
      ],
      "id": "10b50338-a6ac-49c9-99d4-78670f20eeb8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M",
          "mode": "list",
          "cachedResultName": "TutorBot_DBJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 732480775,
          "mode": "list",
          "cachedResultName": "TUTORIAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit#gid=732480775"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2400,
        3776
      ],
      "id": "1aab199a-afd6-4054-85ae-5fe85729ae34",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kPMiPAaCJhVnXwuI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M",
          "mode": "list",
          "cachedResultName": "TutorBot_DBJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 799354737,
          "mode": "list",
          "cachedResultName": "ESTUDIANTES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IZ8BCu-y5NRlnl16sVcEx1wXf97Av2ALpRipdb5V59M/edit#gid=799354737"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2560,
        3824
      ],
      "id": "d03915d2-73ae-4f30-a88c-ee3494ce2606",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kPMiPAaCJhVnXwuI",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Materia": {
      "main": [
        [
          {
            "node": "mapeo materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mapeo materias": {
      "main": [
        [
          {
            "node": "Menu materia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidad": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "menu principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Mensaje Materia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formulario registro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmación Recepción ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmación Recepción ID": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d97eefe9-6f39-4be5-8c9a-5286805849f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6a1182b95d4e0c6158e25196c3416f7de053fdefde87de58e9ee079566807ce"
  },
  "nodeGroups": [],
  "id": "rl2k7yWSTTo8HQso",
  "tags": []
}